PUBLIC_SITE_URL=https://legaragerestaurant.ma
PUBLIC_BASE_PATH=/le-garage-restaurant
PUBLIC_RESERVATION_EMAIL=contact@legaragerestaurant.ma
PUBLIC_PHONE_E164=+212668608754
PUBLIC_PHONE_DISPLAY=+212 6 68 60 87 54
HOST=127.0.0.1
PORT=4321
